<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
    <string>https://newsapi.org/</string>
    <key>key</key>
    <string>ddd10a0b09764bf983b4f4132987835d</string>
    <key>pathTopHeadlines</key>
    <string>/v2/top-headlines</string>
    <key>defaultPageSize</key>
    <string>20</string>
</dict>
</plist>
